services:
  kudu-master:
    image: apache/kudu:latest
    container_name: kudu-master
    hostname: kudu-master
    command: master
    environment:
      - MASTER_ARGS=--unlock_unsafe_flags --use_hybrid_clock=false
    ports:
      - "7051:7051"
      - "8051:8051"
    volumes:
      - kudu-master-data:/var/lib/kudu

  kudu-tserver:
    image: apache/kudu:latest
    container_name: kudu-tserver
    hostname: kudu-tserver
    command: tserver
    environment:
      - KUDU_MASTERS=kudu-master:7051
      - TSERVER_ARGS=--unlock_unsafe_flags --use_hybrid_clock=false --tserver_master_addrs=kudu-master:7051
    depends_on:
      - kudu-master
    ports:
      - "7050:7050"
      - "8050:8050"
    volumes:
      - kudu-tserver-data:/var/lib/kudu
    extra_hosts:
      - "kudu-tserver:127.0.0.1"

volumes:
  kudu-master-data:
  kudu-tserver-data:
